@import url("/css/advisers.css");
@import url("/css/featured.css");
@import url("/css/header.css");
@import url("/css/nav.css");
@import url("/css/product.css");
@import url("/css/blog.css");
@import url("/css/subscribe.css");
@import url("/css/footer.css");

.body{
    margin: 0px ;
    font-family: 'Noto Sans', sans-serif;
}

/* 
font-family: 'Noto Sans',sans-serif;
font-family: 'Playfair Display', serif;
 */


